.side-bar
  .header
    %h3.header__name
      hiroki
    %ul.header__lists
      %li.list
        %i.fa.fa-cog
      %li.list
        %i.fa.fa-pencil-square-o
  .groups
    .group
      .group__name
        sample
      .group__message
        メッセージはまだありません。
